:root{
    --font-family: Calibri;
    --buttoncolor:rgb(212, 0, 255);
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-image:linear-gradient(
        to left,#760885,rgb(91, 7, 247),rgb(196, 12, 141));
}
.container{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 4rem;
    height: 50rem;
    width: 1000rem;
    max-width: 95%;
    font-family: var(--font-family);
}
header{
    text-align: center;
    font-size: 7rem;
    font-size: 5rem;
    background: linear-gradient(to right,yellow,rgb(3, 247, 3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-family);
} 
.login{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    padding: 5rem;
    border-radius: 40px;
    gap: 10px;
    border-style: solid;
    background-color: #06ffe241;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
}
.svg{
    display: flex;
    justify-content: center;
    height: 6rem;
    padding: 5px;
    width: 310px;
    opacity: 90%;
}
button{
    position: relative;
    display: flex;
    justify-content: center;
    color:#490652;
    box-shadow:3px 4px #26012b;
    height: 3rem;
    width: 7rem;
    padding: 7px;
    top: 1rem;
    left: 6rem;
    border-radius: 40px;
    font-family: var(--font-family);
    font-size: 20px;
    /*hover*/
    transition: all 0.3s;
}
button:hover {
    transform: translateY(-5px);
    background-color: var(--buttoncolor);
    color: rgb(229, 235, 240);
}
input{  
    position: relative;
    border-radius: 10px;
    height: 1px;
    padding: 20px;
    text-align: start;
    font-family: var(--font-family);
    font-size: 1rem;
}

